@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(180deg, #222222, #000000);
  background-repeat: no-repeat;
  color: #00F0A0;
  /* font-family: var(--font-inter); */
}

